 :root {
  /* THEME */
  --dark: #2B2733;
  --gray: #CBC9CF;
  --light: #46424D;
  --white: #FFF;
  /* ICONS */
  --exercise: #FD8078;
  --meditate: #C278FD;
  --study: #B3FD78;
  /* UTILITY */
  --cardShadow: #26222D;
  --error: #EFB7EC;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--dark);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  align-items: center;
  background-color: var(--light);
  justify-content: center;
  min-height: 8vh;
  width: 100%;
}

h1 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 300;
}

/* UTILITY */
.flex {
  display: flex;
}

.borderless {
  background-color: var(--light);
  border-bottom: 1px solid var(--gray);
  border-width: 0;
  padding-bottom: .1rem;
}

.minsec-form {
  width: 12rem;
}

.card-features {
  background-color: var(--light);
  border-radius: 4px;
  box-shadow: 3px 3px 5px 6px var(--cardShadow);
}

.fade-out {
  opacity: 0;
  transition: 1s 1s ease-in-out;
  transform: translateY(20px);
}

.fade-in {
  opacity: 1;
  transition: 1s opacity ease-in;
}


.hidden {
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
}

.form-padding {
  padding: .5rem 0;
}

.scroll {
  height: 30.5rem;
  overflow-y: auto;
  padding: 1.1rem;
  width: 23rem;
}

/* BUTTON */
.btn {
  border: none;
  border-radius: 4px;
  color: var(--dark);
  font-size: 15px;
  font-weight: 400;
  padding: 0.5rem 1.2rem;
}

.start-btn {
  margin-top: 1.6rem;
}

.log-btn {
  bottom: 0%;
  position: absolute;
  width: 11rem;
}

.create-new-activity-btn {
  align-self: center;
  width: 18rem;
}

/* BOTH CONTAINERS */
.new,
.past {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 300;
}

/* LEFT CONTAINER  */
.new-container {
  flex-basis: 66.6%;
  min-width: 25rem;
  padding: 2.3rem 1.7rem;
}

.card {
  justify-content: center ;
  margin-top: .4rem;
  min-height: 25rem;
  padding: 1.8rem 2rem;
  position: relative;
}

.card-content {
  width: 100%;
}


h3 {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
}

.category {
  flex-direction: row;
}

.box-container {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.8rem;
  position: relative;
  width: 100%;
}

.box {
  border: var(--white) solid 1px;
  border-radius: 4px;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  padding: .2rem;
  width: 8rem;
}

.goal {
  margin: 1.3rem 0;
  width: 100%;
}

.accomplish-prompt {
  padding: 3.5rem 0 0 0;
}

:is(.box, h3, img) {
  align-self: center;
  margin: .1rem;
}

.time-box {
  justify-content: space-between;
  margin-top: 1rem;
}

.minutes-box,
.seconds-box {
  flex-direction: column;
  margin: 1rem 0 2rem 0;
}

.time-header {
  padding-top: 2rem;
}

.button-container {
  justify-content: flex-end;
}

/* Timer */
.timer-card {
  align-items: center;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
  position: relative;
}

.timer-card h2 {
  align-self: center;
  font-weight: 300;
  text-align: center;
  transition: 300ms;
}

.timer-card h2:hover {
  color: var(--white);
  font-size: 1.55rem;
  transition: 500ms ease-in;
}

.timer-card>h2:nth-child(1) {
  font-size: 1.2rem;
  margin-bottom: 20rem;
  position: absolute;
}

.timer-card p {
  color: var(--white);
  font-size: 4rem;
  margin-bottom: 14rem;
}

.ring {
  align-items: center;
  border: var(--white) 3px solid;
  border-radius: 100%;
  height: 11rem;
  justify-content: center;
  margin-top: 4.5rem;
  position: absolute;
  text-align: center;
  width: 11rem;
}

/* RIGHT CONTAINER */
.past-container {
  border-left: 1px solid var(--gray);
  flex-direction: column;
  height: 100vh;
  padding: 2rem 2rem;
  text-align: center;
}

.past {
  margin-left: 1rem;
}

:is(.past-container, h2, p) {
  color: var(--gray);
}

.past-container p {
  font-size: 1.4rem;
  height: 3rem;
  line-height: 1.9rem;
  margin: .6rem 5rem 0 1.1rem;
  width: 100%;
}

.past-card {
  color: var(--white);
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: .5rem;
  padding-left: .5rem;
  position: relative;
}

.activity-time-container {
  flex-direction: column;
}

.past-card h3,
.past-card h4,
.past-card h5 {
  align-self: flex-start;
}

:is(.past-card, h4, h5) {
  font-weight: 300;
}

.past-card h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.past-card h4 {
  font-size: 1.3rem;
}

.past-card h5 {
  font-size: 1rem;
  margin-bottom: .2rem;
}

.card-category {
  align-self: flex-end;
  bottom: 55%;
  height: 2rem;
  margin-right: .5rem;
  position: absolute;
  width: .3rem;
}

/* MISC */
img {
  height: 1.2rem;
  width: 1.2rem;
}

input {
  color: var(--white);
  outline: none;
}

.warning-0 {
margin-left: .5rem;
position: relative;
}

.warning {
  justify-content: space-between;
  position: absolute;
  top: 77%;
  width: 15rem;
}

.warning-1 {
 top: 52%;
}

.warning-0 p {
  margin-left: .3rem;
  margin-top: .5rem;
}

.warning p {
  color: var(--error);
  left: 11%;
  position: absolute;
  top: 28%;
}

.green {
  background: var(--study)
}
.purple {
  background: var(--meditate)
}
.red {
  background: var(--exercise)
}

.scroll-msg {
  color: var(--gray);
}

@media (max-width: 768px) {
  main {
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;   
  }
  
  .new-container {
    padding: 1rem 1rem;
  }

  .card {
    width: 25rem;
  }

  .category {
    justify-content: center;
  }

  .new {
    margin-bottom: 1rem;
    text-align: center;
  }

  .accomplish-prompt {
    padding: 2.5rem 0 0 0;
  }

  .box-container {
    margin-top: 1.5rem;
  }

  .box {
    width: 5rem;
  }

  .minsec-form {
    width: 10rem;
  }

  .start-btn {
    margin-right: 8rem;
  }

  .past {
    align-self: center;
    justify-content: center;
    text-align: center;
  }

  .past-container {
    border: none;
    justify-content: center;
  }

  .scroll {
    padding: 1rem;
    width: auto;
  }

  .past-card {
    align-self:center;
    margin: 0;
    margin-bottom: 1rem;
    width: 25rem;
  }
}