:root {
  /* THEME */
  --darkBG: #2B2733;
  --mainText: #CBC9CF;
  --lightBG: #46424D;
  --whiteText: #FFF;
  /* ICONS */
  --study: #B3FD78;
  --meditate: #C278FD;
  --exercise: #FD8078;
  /* UTILITY */
  --error: #EFB7EC;
  --cardShadow: #26222D;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: var(--darkBG);
  height: 100%;
  width: 100%;
}

/* HEADER */
header {
  min-height: 10vh;
  background-color: var(--lightBG);
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--whiteText);
  font-weight: 300;
  font-size: 1.6rem;
}

/* MAIN */
#main {
  flex-direction: row;
}

/* UTILITY */
.flex {
  display: flex;
}

.form-padding {
  padding: 1rem 0 0 0;
}

.borderless {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--mainText);
  background-color: var(--lightBG);
  padding-bottom: .1rem;
  width: 12rem;
}

.card-features {
  background-color: var(--lightBG);
  border-radius: 4px;
  box-shadow: 3px 3px 5px 6px var(--cardShadow);
}

.fade {
  transition: 700ms;
  opacity: 0;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* BUTTON */
.btn {
  background: var(--whiteText);
  font-size: 15px;
  font-weight: 400;
  color: var(--darkBG);
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  margin-top: 1.6rem;
}

#log-btn {
  align-self: center;
  width: 11rem;
  position: absolute;
  top: 85%
}

#create-new-activity-btn {
  align-self: center;
  width: 18rem;
  position: absolute;
  top: 15%;
  left: 40%;
}

/* BOTH CONTAINERS */
#new,
#past {
  align-self: flex-start;
  font-weight: 300;
  font-size: 2rem;
}

/* LEFT CONTAINER  */
.container {
  flex-grow: 2;
  padding: 1.6rem 2rem;
}

#card {
  align-self: center;
  justify-content: center;
  margin-top: .8rem;
  padding: 1.8rem 4rem;
  min-width: 25rem;
  min-height: 25rem;
  position: relative;
}

h3 {
  color: var(--whiteText);
  font-weight: 400;
  font-size: 13px;
}

#box-container {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.8rem;
  position: relative;
}

.box {
  border: var(--whiteText) solid 1px;
  width: 7rem;
  height: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 1rem 1.5rem;
  border-radius: 4px;
}

:is(.box, h3, img) {
  margin: .1rem;
  align-self: center;
}

#time-box {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 3rem;
}

#minutes-box,
#seconds-box {
  flex-direction: column;
  margin: 1rem 0 2rem 0
}

#button-container {
  align-content: flex-end;
  justify-content: flex-end;
}

/* Timer */
#timer-box {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  position: relative;
}

#timer-box h2 {
  font-weight: 300;
  transition: 300ms;
}

#timer-box h2:hover {
  transition: 500ms ease-in;
  font-size: 1.55rem;
  color: var(--whiteText)
}

#timer-box > h2:nth-child(1)  {
  margin-bottom: 20rem;
  font-size: 1.2rem;
  position: absolute;
}

#timer-box p {
  margin-bottom: 14rem;
  font-weight: 400;
  font-size: 4rem;
  color: var(--whiteText);
}

#ring {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4.5rem;
  width: 11rem;
  height: 11rem;
  border: var(--whiteText) 3px solid;
  border-radius: 100%;
}

/* RIGHT CONTAINER */
#past-container {
  flex-grow: 1.1;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid var(--mainText);
  padding: 2rem 2rem;
  height: 100vh;
}

:is(#past-container, h2, p) {
  color: var(--mainText);
}

#past-container p {
  position: absolute;
  width: 35rem;
  height: 3rem;
  margin: 3rem 5rem 0 0 ;
  line-height: 1.9rem;
  font-size: 1.4rem;
}

#past-card h3 {
  margin: 0;
}

#past-card {
  width: 100%;
  /* height: 6rem; */
  color: var(--whiteText);
  flex-direction: column;
  padding-left: .5rem;
  padding-top: .2rem;
  background: var(--lightBG);
  position: relative;
  margin-bottom: 1rem;
}

#activityTimeContainer {
  flex-direction: column;
}

#past-card h3,
#past-card h4,
#past-card h5{
  align-self: flex-start;
  text-align: left;
}

:is(#past-card,h4, h5) {
  font-weight: 300;
}

#past-card h3  {
  font-size: .8rem;
}

#past-card h5 {
  margin-bottom: .2rem;
}

#card-category{
  align-self: flex-end;
  margin-right: .5rem;
  height: 2rem;
  width: .3rem;
  position: absolute;
  bottom: 50%;
  background: var(--meditate)
}

/* MISC */
img {
  height: 1.2rem;
  width: 1.2rem;
}

input {
  outline: none;
  color: var(--whiteText);
}

#goal {
  width: 100%;
}

#time-box input {
  text-align: center;
}

.warning {
  margin-top: 1rem;
  justify-content: space-between;
  width: 15rem;
  position: absolute;
}

.warning p {
  top: 28%;
  left: 11%;
  position: absolute;
  color: var(--error);
}
